/* Empty css file that users can override in their own /assets/css/custom.css file */

/* Ensure navigation is visible on mobile */
@media (max-width: 48em) {
    .sidebar-nav {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .sidebar-nav li {
        display: list-item;
        margin-bottom: 0.5rem;
        list-style: none;
    }

    .sidebar-nav .heading a {
        display: inline-block;
        color: var(--sidebar-a-color);
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.5;
    }

    .sidebar-nav .heading a:hover {
        text-decoration: underline;
    }
}
